.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

::-webkit-scrollbar {
  width: 10px;
  height:0px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-300 dark:bg-[#00000022];
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-400 bg-opacity-60 dark:bg-[#00000033];
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400 bg-opacity-100 dark:bg-[#00000044];
}
body, * {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
body {
  @apply text-gray-600 dark:text-gray-400 bg-gray-200 dark:bg-gray-800;
}
.content-area {
  height: 100vh;
}
.header {
  &:after {
    @apply border-b border-gray-100 dark:border-gray-750 lg:border-b-0 absolute w-full;
    content: "";
    bottom: -2px;
  }
}
.mobilesearch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 15px;
  input {
    padding: 0.75rem 1.25rem;
  }
}

.label-floating {
  label {
    color: rgb(156, 163, 175);
    font-weight: 300;
  }
}

.label-floating input:not(:-moz-placeholder-shown), .label-floating select:not(:-moz-placeholder-shown) {
  padding-top: 1.6rem;
  padding-bottom: 0.25rem;
}

.label-floating input:not(:-ms-input-placeholder), .label-floating select:not(:-ms-input-placeholder) {
  padding-top: 1.6rem;
  padding-bottom: 0.25rem;
}

.label-floating input:not(:placeholder-shown),
.label-floating select:not(:placeholder-shown) {
  padding-top: 1.6rem;
  padding-bottom: 0.25rem;
}

.label-floating input:not(:-moz-placeholder-shown) ~ label, .label-floating select:not(:-moz-placeholder-shown) ~ label {
  @apply text-gray-600 py-2 font-semibold;
  font-size: 0.8rem;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.label-floating input:not(:-ms-input-placeholder) ~ label, .label-floating select:not(:-ms-input-placeholder) ~ label {
  @apply text-gray-600 py-2 font-semibold;
  font-size: 0.8rem;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.label-floating input:not(:placeholder-shown) ~ label,
.label-floating select:not(:placeholder-shown) ~ label {
  @apply text-gray-600 py-2 font-semibold;
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
}
.cover-container {
  &:before {
    content:     "";
    display:     block;
    padding-top: 100%; /* initial ratio of 1:1*/
  }
}
.breadcrumbs {
  @apply mb-6 mt-2;
  span {
    @apply text-sm relative font-normal px-3 p-1 bg-gray-100 dark:bg-gray-840 border-r border-gray-200 dark:border-gray-800 hover:bg-gray-50 dark:hover:bg-gray-840 dark:hover:bg-opacity-60 cursor-pointer;
    &.active {
      @apply font-normal font-medium text-gray-300 no-underline text-pink-600;
    }
  }
}
.leftbar {
  &:after {
    @apply absolute lg:border-r border-gray-100 dark:border-gray-750 top-0 bottom-0;
    content: "";
    right: -2px;
  }
  
}
.sidebar {
  background-color: #f9f9f9;
}
.nav {
  @apply transition border border-transparent;
  &:hover {
    @apply filter drop-shadow-sm bg-gray-50 dark:bg-gray-840 dark:bg-opacity-40;
  }
  &.active {
    @apply relative filter drop-shadow bg-gray-50 dark:bg-gray-840 dark:drop-shadow-none dark:border-gray-860 dark:border;
    &:after {
      @apply absolute hidden lg:block -left-1 top-0 bottom-0 border-pink-600 rounded-l-lg;
      border-left-width: 6px;
      content: "";
    }
  }
}

.page-leave-active {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 50ms;
}
.page-leave-to {
  opacity: 100;
}

.page-enter-active {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}

.page-enter {
  transform: translateX(100%);
  opacity: 0.7;
}

.prose {
  @apply text-gray-600 dark:text-gray-400;
  h1 {
    @apply text-gray-600 dark:text-gray-400 text-2xl;
  }
}

.collection-container {
  border-bottom: 1px solid #d1d5db;
}
.logout {
  &:before {
    @apply border-t border-gray-100 dark:border-gray-750;
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
  }
}
